html{
   text-align: center;
}


.cadastro{
     margin: auto;
     align-items: center;
     max-width: 80%;
     background: red;
}

#card{
     margin: auto;
     align-items:start;
     max-width: 80%;

}
.relatorio{
     margin: auto;
     align-items: center;
     max-width: 80%;
     box-shadow: 5px 5px 5px 5px  gray;
}

.button{
    background: greenyellow;
    color: white;
}

.linha{
    background: greenyellow;
    max-width: 70%;
}

.bimestre{
    width: 50px;
}

#bnt{
    background: greenyellow;
    color: white;
    border: none;
}

input{
    size: 40px;
}

form{
    float:left
}

table th{
    border: solid white 2px;
    justify-items: center;

}

table{
    width: 100%;
}


