*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page{
    width: 980px;
    margin: 0 auto;
}

.page > h1{
    margin-bottom: 20px;
}

.form-input{
    width: 95%;
    padding: 7px;
    border: 2px solid #ddd;
    margin: 10px 5px 10px 0;
    border-radius: 5px;
}

.button{
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    opacity: .95;
}

.button-send{
    color: #fff;
    background-color: #b4c123;
}

.card{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-title{
    color: #222;
    margin-bottom: 15px;
}

.dados-label{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.dados-label:nth-of-type(1),
.dados-label:nth-of-type(2),
.dados-label:nth-of-type(3),
.dados-label:nth-of-type(4){   
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
}

.dados-label:nth-of-type(5){   
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
}

.dados-label div{
    padding: 7px 0;
}

.dados-label div:nth-of-type(1){
    border-right: 2px solid #ddd;
    width: 170px;
    font-weight: 700;
}

.dados-label div:nth-of-type(2){
    padding-left: 7px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}
